#bg-colour{
    background-color:black;
}

#div-line-colour{
    color: azure;
}

#title{
    color: azure;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#title-desc{
    color:beige;
    font-family: sans-serif;
    font-weight: 400;
    font-size: larger;
    text-align: center;
}